
/* 404 page css - Josh*/

#html-404 {
    position: relative;
    min-height: 100%;
}
#body-404 {
    margin: 0 0 264px; /* bottom = footer height */
}
#footer-404 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 264px;
    width: 100%;
}

div#container-404 { display: none; }

/* end 404 css */