
.header h1 {
    color: rgba(45, 45, 48, 1);
}
h3{
    color: rgba(45, 45, 48,1);
}

h2, h4{
    color: rgba(255,255,255,1);
}

.jumbotron {
    background-color: transparent;
}


.jumbotron h1 {
    color: #004271;
}


.jumbotron2 {
    color: #004271;
}

#indexHeader {
    color: #777;
}


div.row div.testimonial {
    background-color: #eaeaea;
}

div.row div ul.tiled {
    color: #004271;
}



.scholarship{
    color: blue;
}



.carousel-caption {
    background: rgba(0, 0, 0, 0.4);
    color: rgba(255,255,255,1);
}



.header {
    background: rgba(255, 255, 255, 1);
}


footer .row {

    background: rgba(45, 45, 48,1);
    color: rgba(255,255,255,1);
}



footer .footer_nav {
    color: white;
}

footer .footer_nav a {
    color: white;
}


footer .footer_nav a:hover {
    color: #D98D2A;
}


.contact {
    background: rgba(45, 45, 48,1) !important;
}

.panel-title:hover { /*Dallin's*/
    color: #D98D2A;
}


.panel-heading { /*Dallin*/
    background-color: rgba(45, 45, 48, 1) !important;
    color: #fff !important;
}


.panel-default { /*Dallin*/
    border-color: #fff;
}

.noDecor { /*Dallin*/
    color: inherit;
}

.row3tile2 { /*Dallin*/
    color: inherit;
}

.newTiledInfoBlack {
    background-color: rgba(45, 45, 48, 1);
    color:rgba(255,255,255,1);
}

.newTiledInfoWhite {
    background-color: rgba(255,255,255, 1);
    color:rgba(0,0,0,1);
}


#col2row2{
    opacity: .9;
}


.fadeIn {
    opacity: 1;
}




@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}