
/* tour page css */

/* adding for super sweet fade in effect - Josh */
div#tour-container { display: none; }

/* centering slide show*/

.your-class {
    /* changed margins to fix arrow position - Josh*/
    margin-right: 0px;
    margin-left: 0px; // center
    /*width: 2365px;  small screen the page look centered*/
text-align:center;
    /* added margin to top for space between text and slideshow */
    margin-top: 25px;
}

/* end tour page css */

