
.footer {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Titillium Web', sans-serif;
}

/* Hide google plus thing */
.googleplus {
    display: none !important;
}

#rights {
    font-size: 0.8em !important;
    text-align: center !important;
    /*width: 100% !important;*/
    color: white !important;
}

#footSocial{
    /*text-align: left !important;*/
    width: 100% !important;
    /*left: 0px !important;*/
    /*left: 33%;*/
    height: 65px !important;
    /*float: left !important;*/
    /*position: block !important;*/
    margin-top: 25px;
    margin-bottom: 35px;
}

#footSocial a {
    /*	margin-left: 75px;
        width: 50px !important;
        height: 50px !important;
        text-align: center !important;*/
    color: white !important;
    display: inline-block !important;
    font-size: 2em !important;
    text-decoration:none;
}

#facebook{
    margin-left: 0% !important;
}
#twitter{
    margin-left: 50% !important;
}
#instagram{
    margin-left: 0% !important;
}
#linkedin{
    margin-left: 50% !important;
}

#twitter:hover {
    color: #00aced !important;
}

#facebook:hover {
    color: #3b5998 !important;
}


#linkedin:hover {
    color: #007bb6 !important;
}

#instagram:hover {
    color: #517fa4 !important;
}

#footAddress {
    margin-left: 1%;
    text-align: left !important;
    width: 33% !important;
    height: 75px !important;
    float: left !important;
    position: block !important;
    color: white !important;
}

#footEmail {
    text-align: left !important;
    width: 33% !important;
    height: 50px !important;
    float: left !important;
    position: block !important;
    color: white !important;
}

#footPhone {
    text-align: left !important;
    width: 33% !important;
    height: 50px !important;
    float: left !important;
    position: block !important;
    color: white !important;
}

.googleplus {
    display: none !important;
}
