
.header h1 {
    letter-spacing: 4px;
}



#topButton {
    margin-left: 0px !important;
}
#topButton{
    font-size: .9em;
}

#indexHeader {
    text-decoration: none;
}
/*Dallin's*/
#indexHeaderText {
    margin: 35px;
    margin-bottom: 10px;


    transition:all .5s;
    -moz-transition:all .5s; /* FIREFOX */
    -webkit-transition:all .5s; /* SAFARI and CHROME */
    -o-transition:all .5s; /* OPERA */

    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
}
/*Dallin's*/
#indexHeaderText:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
