
.img_fit {
    max-width: 100%;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/*CSS for about page image hover */
.img_fit:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}




#coverPic {
    top: 25%;
    left: 16.5%;
    width: 66%;

    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: 1000;
}
