
/*TODO: Makalii - 6/9/16 - investigate broken img links*/
body.stories div.row div.img1 {
    background: url(../images/Testimonials%201.png); }
body.stories div.row div.img2 {
    background: url(../images/Testimonials%202.png); }
body.stories div.row div.img3 {
    background: url(../images/Testimonials%203.png); }
body.stories div.row div.img4 {
    background: url(../images/Testimonials%204.png); }
body.stories div.row div.img5 {
    background: url(../images/Testimonials%205.png); }
body.stories div.row div.img6 {
    background: url(../images/Testimonials%206.png); }
body.stories div.row div.img7 {
    background: url(../images/Testimonials%207.png); }

body.stories div.row div.img1, body.stories div.row div.img2, body.stories div.row div.img3, body.stories div.row div.img4, body.stories div.row div.img5, body.stories div.row div.img6, body.stories div.row div.img7 {
    background-size: cover ; margin: 20px; background-size:100% 100% !important ; -webkit-background-size: cover ; -moz-background-size: cover ; -o-background-size: cover !important;} /*background-sizes are added, it stretches out pictures*/
body.stories div.row div blockquote {
    background: rgba(255, 255, 255, 0.7);
    margin: 150px 10px 10px; }

/* Image changes Transparency on hover Testimonial Page*/

body.stories div.row div.img1 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
body.stories div.row div.img1:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
body.stories div.row div.img2 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
body.stories div.row div.img2:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
body.stories div.row div.img3 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
body.stories div.row div.img3:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
body.stories div.row div.img4 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
body.stories div.row div.img4:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
body.stories div.row div.img5 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
body.stories div.row div.img5:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
body.stories div.row div.img6 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
body.stories div.row div.img6:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
body.stories div.row div.img7 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
body.stories div.row div.img7:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}



/*CSS for enlarged image on hover*/

/***css Style the unordered list with the class 'enlarge'***/
ul.enlarge{
    list-style-type:none; /*remove the bullet point*/
    padding:0px; /*removes extra space*/
}
ul.enlarge li{
    /*display:inline-block; /*places the images in a line*/
    position: relative; /*allows precise positioning of the popup image when used with position:absolute  */
    z-index: 0; /*resets the stack order of the list items - we'll increase in step 4*/
    /*margin:10px 40px 0 20px; space between the images*/
}
/* to hide large if no hover*/
/***In the HTML in step one we placed the large image inside a <span>, now we move it off the page until it's required***/
ul.enlarge span{
    position:absolute; /*see support section for more info on positioning*/
    left: -9999px; /*moves the span off the page, effectively hidding it from view*/
}

/***Note: This styling will apply to both the thumbnail and popup image, unless you override these styles in step five***/
ul.enlarge img{
    /*give the thumbnails a frame*/
    background-color:#eae9d4; /*frame colour*/
    padding: 6px; /*frame size*/
    /*add a drop shadow to the frame*/
    -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    /*and give the corners a small curve*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px
}
ul.enlarge li:hover{
    z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/
    cursor:pointer; /*changes the cursor to a hand*/
}

/*** bring the large image back onto the page by reducing left from -9999px (set in step 2) to figure below***/
ul.enlarge li:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/
    top: 10px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
    left: 400px; /*distance from the left of the thumbnail to the left of the popup image*/
}

/***Override the styling of images set in step 3 to make the frame smaller and the background darker***/
ul.enlarge span img{
    padding: 2px; /*size of the frame*/
    background: #ccc; /*colour of the frame*/
}
/***Style the <span> containing the framed images and the caption***/
ul.enlarge span{
    /**Style the frame**/
    padding: 10px; /*size of the frame*/
    background:#eae9d4; /*colour of the frame*/
    /*add a drop shadow to the frame*/
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
    -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
    box-shadow: 0 0 20px rgba(0,0,0, .75);
    /*give the corners a curve*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius:8px;
    /**Style the caption**/
    font-family: 'Droid Sans', sans-serif; /*Droid Sans is available from Google fonts*/
    font-size:.9em;
    text-align: center;
    color: #495a62;
}